<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <link rel="stylesheet" href="css/style.css">
        <title>vue-todolist</title>        
    </head>
    <body>
        <div id="app">

            <h1>Todo List</h1>

            <div>
              <input v-model="newTodoText" type="text" placeholder="Nuovo todo">
              <button @click="addTodo">Aggiungi</button>
            </div>
          

            <ul>
              <li v-for="(todo, index) in todos" :key="index" :class="{ done: todo.done }">
                {{ todo.text }}                
                <button @click="removeTodo(index)">X</button>
              </li>
            </ul>
          </div>

        </div>
       
        <!--vue-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--js-->
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>